ADMIN_EMAIL=
ADMIN_PASSWORD=
BACKEND_PORT=
CLIENT_EMAIL=
CLIENT_PASSWORD=
CORS_ORIGINS=
DATABASE_URL=
FRONTEND_PORT=
GROQ_API_KEY=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_ALGORITHM=
JWT_SECRET=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
STREAMLIT_PORT=
VITE_API_BASE_URL=
LANGFLOW_PORT=
LANGFLOW_URL=
LANGFLOW_FLOW_ID=